body{

    background-image: url(../images/Background/Accueil.jpg);
    background-size: cover;
}



.imageVoiture {
    
    margin-top: 30px;
    background-image: url(../images/Voitures/shelby.jpg);
    background-size: cover;
    width: 489px;
    height: 857px; 
    border-radius: 25px;

  
    -webkit-box-shadow: 10px 10px 5px rgba(255, 94, 0, 0.6);
    padding: 5px 5px 5px 15px;
    width: 300px;

}

.question {

    margin-top: 100px;
    height: 60px;
    width: 100%;
    background-color:rgba(255, 94, 0, 0.6);
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
   
}


.reponse {

    margin: 10px;
    height: 60px;
    border-radius: 25px;
    width: 100%;
    background-color: rgb(76, 76, 76);

    
}

.TitreQuizz {
    color: rgba(255, 94, 0, 0.6);
    text-shadow: 0 0 3px #ffc400, 0 0 5px #f82500, 0 0 8px #f80000;
}


.border_shadow 
{
    -webkit-box-shadow: 10px 10px 5px #888;
    padding: 5px 5px 5px 15px;
    width: 300px;
}